@import "bootstrap/scss/bootstrap";

#mainPage {
	margin: 2px;
}

.container{
	display: flex;
	flex-direction: row;
	gap: 5px;
}

#defaultTable, #selectedTable {
	flex: 1;
	padding: 1px;
	margin-bottom: 15px;
}


#topField {
	width: 300px;
  	height: 65px;
  	border-bottom: 1px solid black;
	margin: 4px;
	margin-bottom: 15px;
}

#currentTimeDate {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  margin-top: 0%;
  margin: 2%;
}

#infoField {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  margin-top: 0%;
  margin: 2%;
}
