@import "bootstrap/scss/bootstrap";

body {
	background-color: #6d9751;
	margin: 10px;
}

#topField {
	width: 300px;
	height: 65px;
	border-bottom: 1px solid black;
	margin: 4px;
	margin-bottom: 5px;
}

#currentTimeDate {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
	font-size: medium;
  	margin-top: 0%;
  	margin: 4px;
}

#infoField {
  	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: medium;
  	margin-top: 0%;
  	margin: 4px;
}

.tableField{
	display: flex;
	flex-direction: row;
	gap: 5px;
	flex-wrap: nowrap;
	margin: 4px;
}

#firstTable, #selectedTable, #newTable {
	flex: 1;
	padding: 4px;
	margin-bottom: 10px;
	margin-right: 0px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: medium;
	width: 120px;
}


